<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}QCM{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets filter='cssrewrite'
                'assets/css/bootstrap.css'
                'assets/css/bootstrap 3/navbar-fixed-top.css'
                'assets/popupBox/popupBox.css' %}
    			<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    		{% endstylesheets %}       
        {% endblock %}
	</head>

	<body>
        {% block popupBox %}
        {% endblock %}
    
        {% block nav_bar %}
            <div class="navbar navbar-default navbar-fixed-top">
                
<div class="navbar-inner">

                    <div class="container">
                        <div class="navbar-header">
                            <a class="brand" href="">QCM</a>
                        </div>
                        <div class="navbar-collapse" id="main-menu">
                            <ul class="nav navbar-nav" id="main-menu-left">
                                <li><a href="{{ path('rovaqcm_home') }}">Accueil</a></li>
                            </ul>
                            <ul class="nav navbar-nav pull-right">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ navbar_username|default('Utilisateur') }}<b class="caret"></b></a>
                                    <ul class="dropdown-menu" id="swatch-menu">
                                        <li><a href="#">Profil</a></li>
                                        <li><a href="{{ path('rovaqcm_logout') }}">Deconnecter</a></li>
                                    </ul>
                                </li>

                            </ul>                        
                        </div>
                    </div>
                
</div>

            </div>
        {% endblock %}
    
		<div class="container">
    		<div id="header" class="hero-unit">
    			<h3>Questionnaire &agrave; choix multiples</h3>
    		</div>
    		<div class="row">
                {% block nav_menu %}
        			<div id="menu" class="span3">
    
        				<h3></h3>
        				<ul class="nav nav-pills nav-stacked">
        					<li id="nav_menu_home"><a href="{{ path('rovaqcm_home') }}">Accueil</a></li>                            
                            <li id="nav_menu_view_self_qseries"><a href="{{ path('rovaqcm_view_self_qseries') }}">Gérer mes séries</a></li>
                            <li id="nav_menu_view_all_qserie_list"><a href="{{ path('rovaqcm_view_all_qserie_list') }}">Voir toutes les series des autres</a></li>
                            <li id="nav_menu_view_user_list"><a href="{{ path('rovaqcm_view_user_list') }}">Voir les autres utilisateurs</a></li>
                            <li id="nav_menu_view_categories"><a href="{{ path('rovaqcm_view_categories') }}">Voir les catégories des autres utilisateurs</a></li>
        				</ul>
     				
        			</div>                
                {% endblock %}   
    			<div id="content" class="span9">
                
    				{% block body %}
    				{% endblock %}
                    
    			</div>
    		</div>
    		<hr>
    		<footer>
    			<p></p>
    		</footer>
		</div>
    
        {% block javascripts %}
        	{% javascripts
                'js/jquery.min.js'
                'js/bootstrap.js'
                'assets/popupBox/popupBox.js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
        	{% endjavascripts %} 			
            <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>-->
        {% endblock %}

	</body>
</html>
