<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}Sdz{% endblock %}</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"
			type="text/css" />
		{% endblock %}
	</head>
	<body>
		<div class="container">
    		<div id="header" class="hero-unit">
    			<h2>Mon Projet Symfony2</h2>
    			<p>Ce projet est propulsé par Symfony2, et construit grâce au
    			tutoriel du siteduzero.</p>
    			<p><a class="btn btn-primary btn-large"
    			href="http://www.siteduzero.com/informatique/tutoriels/developpez-votresite-
    			web-avec-le-framework-symfony2">
    			Lire le tutoriel »
    			</a></p>
    		</div>
    		<div class="row">
    			<div id="menu" class="span3">
    				<h3>Le blog</h3>
    				<ul class="nav nav-pills nav-stacked">
    					<li><a href="{{ path('sdzblog_accueil') }}">Accueil du
    					blog</a></li>
    					<li><a href="{{ path('sdzblog_ajouter') }}">Ajouter un
    					article</a></li>
    				</ul>
    				{{ render(controller("SdzBlogBundle:Blog:menu", {'nombre': 3})) }}
    			</div>
    			<div id="content" class="span9">
    				{% block body %}
    				{% endblock %}
    			</div>
    		</div>
    		<hr>
    		<footer>
    			<p>The sky's the limit © 2012 and beyond.</p>
    		</footer>
		</div>
		{% block javascripts %}
			{# Ajoutez ces lignes JavaScript si vous comptez vous servir des
			fonctionnalités du bootstrap Twitter #}
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
			<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
		{% endblock %}
	</body>
</html>