{% extends "RovaQCMBundle::layout.html.twig" %}

{% block rovaqcm_body %}
    <div class="well">
        <h3 id="gogo">{{ serie.serieName }}</h3>
        
        <hr>

        {% for message in app.session.flashbag.get('info_ans') %}
            <p class="text-error">{{ message }}</p>
        {% endfor %}   
        
        <form action="{{ path('rovaqcm_answer_qserie', {'id': serie.id}) }}" method="POST">            
            <ul class="nav-pills nav-stacked">
                {% for question in serie.questions %}
                <li>
                    <h4>{# question.questionLabel #}</h4>
                    {{ question.textEscaped|raw }}<br />
                    {% if question.multipleChoice %}
                    <ul>
                        {% for choice in question.choices %}
                        <li><label><input type="checkbox" name="chk[{{ question.id }}][{{ choice.id }}]" value="{{ choice.id }}"/> {{ choice.choiceText }}</label></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <ul>
                        {% for choice in question.choices %}
                        <li><label><input type="radio" name="rdo[{{ question.id }}]" value="{{ choice.id }}"/> {{ choice.choiceText }}</label></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
        	</ul> 
            
            <input type="submit" class="btn btn-primary" value="Valider"/>
        </form>
    </div>

{% endblock %}