{% extends "RovaQCMBundle::layout.html.twig" %}

{% block rovaqcm_body %} 
    <form method="POST">
        {% include "RovaQCMBundle:QCM:QSerie/question_serie_form.html.twig" %}
        <input type="submit" class="btn btn-primary" value="Valider" />
        <input type="button" class="btn" value="Annuler" onclick="document.location.href='{{ path('rovaqcm_view_qserie', {'id': serie_id}) }}'" />
    </form>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $('form input:first')
            .focus()
            .select();
        });
    </script>
    <script type="text/javascript" src="{{ asset('assets/QCM/QSerie/question_serie_categorie.js') }}"></script>
{% endblock %}