    <div class="well">
        {% for message in app.session.flashbag.get('info') %}
            <p class="text-error">{{ message }}</p>
        {% endfor %}        
        <!--Nom de la serie de question: <input type="text" name="name" requested />-->
        {{ form_widget(form) }}

        <br />
    </div>