{% extends "RovaQCMBundle::layout.html.twig" %}

{% block rovaqcm_body %}
    <div class="well">
        <h3 id="gogo">{{ serie.serieName }}</h3>
        de {{ serie.user.login }} <br /><br />
        
        {% for categorie in serie.categories %}
            {% if loop.index == 1 %}Catégorie : {% endif %}{{ categorie.name }}{% if loop.revindex > 1 %},{% endif %}
        {% endfor %}
        
        <br />
        
        <hr>

        {% if serie.questions|length == 1 %}
            Le titre de la question
        {% elseif serie.questions|length > 1 %}
            Les titres des questions
        {% endif %}
        <ul>
            {% for question in serie.questions %}
            <li>
               {{ question.questionLabel }}
            </li>
            {% else %}
            <br /><p>Aucune question</p>
            {% endfor %}
    	</ul> 
        
        <a href="{{ path('rovaqcm_answer_qserie', {'id': serie.id}) }}" class="btn btn-primary">Répondre aux questions</a>
        {% if nb_ans > 0 %}
            <a href="{{ path('rovaqcm_view_scores_in_serie_id', {'id': serie.id}) }}" class="btn">Voir qui ont répondu à cette série</a>
        {% endif %}
    </div>
{% endblock %}
