{% extends "RovaQCMBundle::layout.html.twig" %}

{% block rovaqcm_body %} 
    <h3>Scores obtenus dans la série {{ serie.serieName }}</h3><hr />

    <h4><strong>Noté sur {{ max_possible_score }}</strong></h4> <br /><br />

    <table class="table table-bordered table-striped table-hover">
        <thead style="background-color: #0088ff;">
            <tr>
                <th>Utilisateur</th>
                <th>Note</th>
            </th>
        </thead>
        <tbody>
            {% set p_user = user|default('') %}

            {% for user in users %}
            <tr>
                <td>{{ user.firstName }} {{ user.lastName }} {% if p_user != '' %}
                {% if user == p_user %}<strong>(vous)</strong>{% endif %}{% endif %}</td>
                <td><strong>{{ user.score }}</strong><br /></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
