{% extends "RovaQCMBundle::layout.html.twig" %}

{% block rovaqcm_body %} 
    <h3>Points obtenu</h3><hr />

    Vous avez obtenu <strong>{{ total_score }} / {{ max_possible_score }}</strong> pour la série de questions : {{ serie.serieName }}.
{% endblock %}
