{% extends "RovaQCMBundle::layout.html.twig" %}

{% block rovaqcm_body %} 
    <h4>Mes séries de questions</h4><hr />

	
    <table class="table table-bordered table-striped table-hover">
        <thead style="background-color: #0088ff;">
            <tr>
                <th>Série</th>
                <th>réponses utilisateurs</th>
                <th>réponses visiteurs</th>
            </th>
        </thead>
        <tbody>
            {% set p_user = guest|default('') %}

            {% for row in rows %}
            <tr>
                <td><a rel="tooltip" user-name="{{ row.serie.user.login }}" href="{{ path('rovaqcm_guest_view_qserie_desc_by_id', {'id': row.serie.id}) }}" title="{{ row.nb_ans }}">{{ row.serie.serieName }}</a></td>
                <td>{{ row.nb_ans }}</td>
                <td>{{ row.nb_guest_ans }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>  

    <a href="{{ path('rovaqcm_new_qserie') }}" class="btn btn-primary">Nouvelle serie de questions</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $( '[rel=tooltip]' ).each( function() {
                var n = parseInt($(this).attr('title'));
                
                $('#nav_menu_view_self_qseries').attr('class', 'active');  
            
                if (n == 1)
                {
                    $(this).attr('title', 'un utilisateur a répondu aux questions de cette série');
                }
                else if ( n > 1 )
                {
                    $(this).attr('title', n + ' utilisateurs ont répondu aux questions de cette série');
                }
                if  ( n > 0 ) $(this).tooltip(); 
            } );
        });
    </script>
{% endblock %}
