{% extends "RovaQCMBundle::layout.html.twig" %}

{% block rovaqcm_body %}
    <div class="well">
        <h3 id="gogo">{{ serie.serieName }}</h3>
        
        {% for categorie in serie.categories %}
            {% if loop.index == 1 %}Catégorie : {% endif %}{{ categorie.name }}{% if loop.revindex > 1 %},{% endif %}
        {% endfor %}
        <br />
        <a href="{{ path('rovaqcm_edit_qserie', {'id': serie.id}) }}">Modifier la serie</a><br />
        <a href="#" id="btnDelSerie">Supprimer la serie</a>
        
        <hr/>
        
        {% if serie.questions|length == 0 %}
        Il n'y a pas encore de questions dans cette série<br/>
        {% endif %}
        <a href="{{ path('rovaqcm_add_question', {'serieId': serie.id}) }}">Ajouter une question</a>
        
        {% if serie.questions|length > 0 %}
            <ul class="nav-pills nav-stacked">
                {% for question in serie.questions %}
                <li>
                    <a href="{{ path('rovaqcm_edit_question', {'id': question.id}) }}">{{ question.questionLabel }}</a>
                    <a href="#" id="btnDelQuestion{{ question.id }}"><img src="{{ asset('img/X cross 16x16.jpg') }}"/></a>
                </li>
                {% endfor %}
        	</ul> 
            <br />
            <br />
            {% if nb_ans > 0 %}
                <a href="{{ path('rovaqcm_view_scores_in_serie_id', {'id': serie.id}) }}" class="btn">Voir qui ont répondu à cette série</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        
            var prefix = "";
            var qlabels = {
                {% for question in serie.questions %}
                    {{ question.id }}:"{{ question.questionLabel }}"
                    {% if loop.revindex > 1 %},{% endif %}
                {% endfor %}
            };
          
            $("#btnDelSerie").click(function(e) {
                e.preventDefault();
                myConfirmPopup("" ,"Voulez-vous vraiment supprimer la série \"{{ serie.serieName }}\"?", f_delete_serie, [{{ serie.id }}]);
            });
            
            prefix = "btnDelQuestion";
            $("[id^=" + prefix + "]").each(function() {
                $(this).bind("click", function(e) {
                    e.preventDefault();
                    var id = $(this).attr("id").replace(prefix, "");
                    //$(location).attr("href", "");
                    myConfirmPopup("" ,"Voulez-vous vraiment supprimer la question \"" + qlabels[id] + "\"?", f_delete_question, [id, {{ serie.id }}]);
                });
            });
        
            function f_delete_serie(id)
            {
                $.ajax({
                    url: "{{ path('rovaqcm_delete_qserie') }}/" + id,
                    type: "post",
                    dataType: "json",
                    data: { },
                    success: function() {
                        myAlertPopup("", "la série \"{{ serie.serieName }}\" est supprimée");
                        $(location).attr('href', "{{ path('rovaqcm_view_self_qseries') }}");
                    }
                }).fail(function() {
                    myAlertPopup("", "Impossible de supprimer cette série", "#ff0000");
                });
            }    
            
            function f_delete_question(id, serieId)
            {
                $.ajax({
                    url: "{{ path('rovaqcm_delete_question') }}/" + id,
                    type: "post",
                    dataType: "json",
                    data: { },
                    success: function() {
                        myAlertPopup("", "la question \"" + qlabels[id] + "\" est supprimée");
                        $(location).attr('href', "{{ path('rovaqcm_view_questionserie') }}/" + serieId);
                    }
                }).fail(function() {
                    myAlertPopup("", "Impossible de supprimer la question \"" + qlabels[id] + "\"", "#ff0000");
                });
            }
        
    </script>
{% endblock %}