{% extends "RovaQCMBundle::layout.html.twig" %}

{% block rovaqcm_body %} 
    <form method="POST">
        {% include "RovaQCMBundle:QCM:Question/question_form.html.twig" %}
        <input type="submit" class="btn btn-primary" value="Ajouter" />
        <input type="button" class="btn" value="Annuler" onclick="document.location.href='{{ path('rovaqcm_view_qserie', {'id': serieId}) }}'" />
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include "RovaQCMBundle:QCM:Question/script/choice_script.html.twig" %}
    <script type="text/javascript">
        $('#t_label').focus();
    </script>
{% endblock %}