{% extends "RovaQCMBundle::layout.html.twig" %}

{% block rovaqcm_body %} 
    <form method="POST">
        {% include "RovaQCMBundle:QCM:Question/question_form.html.twig" %}
        <input type="submit" class="btn btn-primary" value="Valider" />
        <input type="button" class="btn" value="Annuler" onclick="window.history.back()" />
    </form>
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    {% include "RovaQCMBundle:QCM:Question/script/choice_script.html.twig" %}
    <script type="text/javascript">
        $('#t_label')
        .focus()
        .select();
    </script>
{% endblock %}