    <div class="well">
        Question label : <br />
        <input id="t_label" name="label" type="text" value="{{ label }}" required="true"/><br />
        Text : <br />
        <textarea name="text" required="true">{{ text }}</textarea><br />
        <label><input type="checkbox" name="is_multiple_choice" value="is_multiple" {% if(multipleChoice) %}checked{% endif %}/> Choix multiple</label><br/>
        Choix
        <ol>
            <div id="ansdiv1">
                <li>
                    <input type="text" name="choices[1][choice]" placeholder="choix (texte)"/>&nbsp;&nbsp;
                    <input type="text" name="choices[1][score]" placeholder="score (nombre)"/>&nbsp;&nbsp;
                    <a id="delBtn1" href=""><img src="{{ asset('img/X cross 16x16.jpg') }}"/></a>
                </li>
            </div>
        </ol>
        <a id="btnAddNewChoice" class="btn" href="#"><img src="{{ asset('img/plus 32x32.png') }}" width="16" height="16"/></a>
    </div>
    
    
