        <script type="text/javascript">
            $(function() {
                var rowDivPrefix = 'ansdiv';
                var btnAddDivId = 'btnAddNewChoice';
                var delPrefix = 'delBtn';
				
				setDelEvent(1);
				$('#' + rowDivPrefix + '1 [id^=' + delPrefix + ']').hide();
                				
                $('#' + btnAddDivId).bind('click', function(e) {
                    e.preventDefault();
					addNewRow();
				});
				
				setRowCount({{ choiceCount|default('1') }});
				/*setValues({
					'choices[1][choice]': 'tititiirrir1',
					'choices[2][choice]': 'Glaglaglolo',
					'choice3': 'Rajoelisolo',
					'choice4': 'Rova'
				});*/
                setValues({{ (choicesJSON|default(''))|raw }});
				
				function addNewRow()
				{
                    var t1, t2, c, newIdx;
                    c = rowCount();
                    t1 = $('[id^=' + rowDivPrefix + ']:first');	
                    t2 = t1.clone(true);//clone(true);
					
					if (c == 1)  $('[id^=' + rowDivPrefix + '] [id^=' + delPrefix + ']').show();
					
					for(newIdx = 1; newIdx <= c; newIdx++) if ( $('#' + rowDivPrefix + newIdx).length == 0 ) break;
					
					t2.attr('id', rowDivPrefix + newIdx);
					//t2.css('display'));
                    t2.hide();				
                    $('[id^=' + rowDivPrefix + ']:last').after(t2);
                    t2.slideDown('fast');

					setDelEvent(newIdx);
					
					$('#' + rowDivPrefix + newIdx + ' input').each(function() {
						$(this).attr('value', '');
						replaceElementNameNumberId($(this), newIdx);
					});	
				}
				
				function setDelEvent(idx)
				{
                    $('#' + rowDivPrefix + idx + ' [id^=' + delPrefix + ']')
					.show()
					.attr('id', delPrefix + idx)					
					.bind('click', function(e) {
						e.preventDefault();
						var id = $(this).attr('id').replace(delPrefix, '');
						var p = $('#' + rowDivPrefix + id);
						//var p = $(this).parent();
						if ( rowCount() <= 2 ) $('[id^=' + rowDivPrefix + '] [id^=' + delPrefix + ']').hide();
						p.slideUp("fast", function() {
							p.remove();
						});
					});  
				}
				
				function rowCount()
				{
					return $('[id^=' + rowDivPrefix + ']').length;
				}
				
				function setRowCount(n)
				{
					if ( rowCount() > n )
					{
						$('[id^=' + rowDivPrefix + ']').each(function() {$(this).remove();});
					} 
					else if ( rowCount() < n )
					{
						while( rowCount() < n ) addNewRow();
					}
				}
				
				function setValues( args )
				{
					if ( typeof args == 'object' )
					{
						for(var a in args ) 
						{
							//var els = $('input[name="' + a + '"]');
							var els = $('[name="' + a + '"]');
							if (els.length >= 1) 
							{
								els.each(function () {
									$(this).attr('value', args[a]);
								});
							} else alert('tsy misy name="' + a + '"');
						}
					}
				}
				
				function replaceElementNameNumberId(elem, n)
				{
					if (elem) if (elem.attr('name'))
					{
						var elName = elem.attr('name'), i;
						/*for(i = elName.length - 1; i > 0; i--)
						{
							if ( elName[i] < '0' || elName[i] > '9' ) break;
						}
						elem.attr('name', elName.substr(0, i+1) + n);*/
						elem.attr('name', elName.replace(/\d+/, n));
					}
				}
            });
        </script>
