{% extends "::layout.html.twig" %}

{% block title %}
{{ parent() }}
{% endblock %}

{% block body %}
    <h1>{% block subtitle %}{% endblock %}</h1>
    <!--<hr>-->
    
    {% block rovaqcm_body %}
    {% endblock %}
{% endblock %}

{% block nav_menu %}
	<div id="menu" class="span3">

		<h3></h3>
		<ul class="nav nav-pills nav-stacked">
			<li id="nav_menu_home"><a href="{{ path('rovaqcm_guest_home') }}">Accueil</a></li>                            
            <li id="nav_menu_view_all_qserie_list"><a href="{{ path('rovaqcm_guest_view_all_qserie_list') }}">Voir toutes les séries de questions</a></li>
            <li id="nav_menu_view_user_list"><a href="{{ path('rovaqcm_view_user_list') }}">Voir catégories</a></li>
		</ul>
	
	</div>                
{% endblock %}  

{% block stylesheets %}
    {{ parent() }}
    {# stylesheets 'assets/popupBox/popupBox.css' #}
        <!--<link rel="stylesheet" href="{{ asset('assets/popupBox/popupBox.css') }}" type="text/css" />-->
    {# endstylesheets #}
{% endblock %}

{% block popupBox %}
    <div class="popupBox" id="popbox1">
      <div class="boxheader">
        Confirm Getting Kicked In the Teeth
      </div>
            
      <div class="boxbody">
        Are you sure that you want Adam to kick you in your teeth? <br /><br />
        Resize your browser window horizontally and vertically to
        see how the box has dynamic width and dynamic placement.
      </div>
    
      <div class="boxfooter">
        <button class="popupBox_confirmButton btn">Oui</button>
        <button class="popupBox_cancelButton btn">Non</button>
      </div>
    </div>
    
    <div class="popupBack" id="popupBack"></div>

    <div class="popupBox" id="popbox2">
      <div class="boxheader">
        Confirm Getting Kicked In the Teeth
      </div>
            
      <div class="boxbody">
        Are you sure that you want Adam to kick you in your teeth? <br /><br />
        Resize your browser window horizontally and vertically to
        see how the box has dynamic width and dynamic placement.
      </div>
    
      <div class="boxfooter">
        <button class="popupBox_confirmButton btn">OK</button>
      </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# javascripts 'assets/popupBox/popupBox.js' #}
        <!--<script type="text/javascript" src="{{ asset('assets/popupBox/popupBox.js') }}"></script>-->
    {# endjavascripts #}
{% endblock %}

