{% extends "RovaQCMBundle:Guest:guestLayout.html.twig" %}

{% block rovaqcm_body %} 
    Bonjour {{ nickname|default('') }}! Bienvenu sur ce site de questionnaires à choix multiples.

    <br /><br />
{% endblock %}

    
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $('#nav_menu_home').attr('class', 'active');
        });
    </script>    
{% endblock %}