{% extends "::layout.html.twig" %}

{% block title %}
Blog - {{ parent() }}
{% endblock %}

{% block body %}
    {# On définit un sous-titre commun à toutes les pages du bundle,
    par exemple #}
    <h1>Blog</h1>
    <hr>
    {# On définit un nouveau bloc, que les vues du bundle pourront
    remplir #}
    {% block sdzblog_body %}
    {% endblock %}
{% endblock %}