{% extends "RovaQCMBundle:Guest:guestLayout.html.twig" %}

{% block rovaqcm_body %} 
    <h4>Liste de toutes les séries de questions</h4>
	    
    <table class="table table-bordered table-striped table-hover">
        <thead style="background-color: #0088ff;">
            <tr>
                <th>Série</th>
                <th>Créateur</th>
                <th>réponses utilisateurs</th>
                <th>réponses visiteurs</th>
            </th>
        </thead>
        <tbody>
            {% set p_user = guest|default('') %}

            {% for row in rows %}
            <tr>
                <td><a rel="tooltip" user-name="{{ row.serie.user.login }}" href="{{ path('rovaqcm_guest_view_qserie_desc_by_id', {'id': row.serie.id}) }}" title="{{ row.nb_ans }}">{{ row.serie.serieName }}</a></td>
                <td>{{ row.serie.user.login }}</td>
                <td>{{ row.nb_ans }}</td>
                <td>{{ row.nb_guest_ans }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>  
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $('#nav_menu_view_all_qserie_list').attr('class', 'active');
            
            $( '[rel=tooltip]' ).each( function() {
                var n = parseInt($(this).attr('title'));
                var username = $(this).attr('user-name');
                
                if (n == 0)
                {
                    $(this).attr('title', 'aucun utilisateur n\'a encore répondu aux questions de cette série de ' + username);
                }
                else if (n == 1)
                {
                    $(this).attr('title', 'un utilisateur a répondu aux questions de cette série de ' + username);
                }
                else if ( n > 1 )
                {
                    $(this).attr('title', n + ' utilisateurs ont répondu aux questions de cette série de ' + username);
                }
                
                $(this).tooltip(); 
            } );
        });
    </script>
{% endblock %}
