{% extends "RovaQCMBundle:Guest:guestLayout.html.twig" %}

{% block rovaqcm_body %} 
    <h3>Scores obtenus dans la série {{ serie.serieName }}</h3><hr />

    <h4><strong>Noté sur {{ max_possible_score }}</strong></h4> <br /><br />

    {% if users|length > 0 %}
    <table class="table table-bordered table-striped table-hover">
        <thead style="background-color: #0088ff;">
            <tr>
                <th>Utilisateur</th>
                <th>Note</th>
            </th>
        </thead>
        <tbody>
            {% set p_user = user|default('') %}

            {% for user in users %}
            <tr>
                <td>{{ user.firstName|default('') }} {{ user.lastName|default('') }} {% if p_user != '' %}
                {% if user == p_user %}<strong>(vous)</strong>{% endif %}{% endif %}</td>
                <td><strong>{{ user.score }}</strong><br /></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    
    {% if guests|length > 0 %}
        <table class="table table-bordered table-striped table-hover">
            <thead style="background-color: #0088ff;">
                <tr>
                    <th>Visiteur</th>
                    <th>Note</th>
                </th>
            </thead>
            <tbody>
                {% set p_user = guest|default('') %}
    
                {% for user in guests %}
                <tr>
                    <td>{{ user.nickname|default('(aucun pseudo)') }}
                    {% if p_user != '' %}
                        {% if user == p_user %}<strong>(vous)</strong>{% endif %}
                    {% endif %}</td>
                    <td><strong>{{ user.score }}</strong><br /></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <a href="{{ path('rovaqcm_guest_answer_qserie', {'id': serie.id}) }}" class="btn btn-primary">Répondre aux questions</a>
    {% endif %}
{% endblock %}
