<!DOCTYPE html>

            
{% block javascripts %}
    {% javascripts 
        'js/jquery.min.js'
        'js/bootstrap.js' 
        'assets/popupBox/popupBox.js' %}
	   <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#visit_link').bind('click', function(e) {
                e.preventDefault();
                myPopup('pseudo', undefined, undefined, undefined, undefined, undefined, 'guestLoginPopup');
                $('#guestLoginPopup .boxbody input:first').focus();
            });
        });
    </script>
{% endblock %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% stylesheets  filter='cssrewrite'
            'assets/css/bootstrap 3/bootstrap.css'
            'assets/css/bootstrap 3/signin.css'
            'assets/popupBox/popupBox.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    </head>

    <body>
        <form action="{{ path('rovaqcm_guest_home') }}" method="POST" class="popupBox" id="guestLoginPopup">
            <div class="boxheader">
                Confirm Getting Kicked In the Teeth
            </div>
        
            <div class="boxbody">
                <div class="text"> Veuillez entrer un pseudonyme </div><br />
                <input type="text" name="guest_name" class="form-control"/>
            </div>
            
            <div class="boxfooter">
                <input type="submit" class="popupBox_confirmButton btn btn-primary" value="Valider"/>
                <a class="popupBox_cancelButton btn">Annuler</a>
            </div>
        </form>
    
        <div class="popupBack" id="popupBack"></div>
    
        <!-- Main content -->
        <div class="container">

            <div class="container">
                <div style="text-align: center">
                    Si vous aimez les questionnaires à choix multiples, alors ce site est pour vous.
                </div>
            
                <form class="form-signin" action="{{ path('rovaqcm_login') }}" method="POST">
                    <h2 class="form-signin-heading">Veuillez vous identifier</h2>
                    {% for message in app.session.flashbag.get('info') %}
                    <p class="text-error" style="color: red;">{{ message }}</p>
                    {% endfor %}    
                    <input type="text" class="form-control" name="user_login" placeholder="Votre login ou pseudo" value="{{ user_login|default('') }}" autofocus>
                    <input type="password" class="form-control" name="user_password" placeholder="Mot de passe">
                    <!--<label class="checkbox">
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>-->
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Connecter</button>
                </form>
                
                <h3 style="">Pas encore membre? Veuillez vous <a href="{{ path('rovaqcm_subscribe') }}">inscrire.</a></h3><br />
                <h3>ou <a id="visit_link" href="#">cliquez ici si vous voulez juste visiter.</a></h3>
            </div>
        </div>
        <!-- End of main content -->
    </body>
</html>


