{% extends "RovaQCMBundle::layout.html.twig" %}

{% block nav_bar %}
{% endblock %}

{% block nav_menu %}
{% endblock %}

{% block rovaqcm_body %} 
    <div class="well">
        <form method="post" {{ form_enctype(form) }}>
            {% for message in app.session.flashbag.get('login_info') %}
            <p class="text-error">{{ message }}</p>
            {% endfor %}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-primary" value="Enregistrer" />
            <input type="button" class="btn" value="Annuler" onclick="document.location.href='{{ path('rovaqcm_login') }}'" />
        </form>
    </div>
{% endblock %}
