.popupBack {
	display: none;
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background:url(back.png);
}

.popupBox {

	display: none;

	position:fixed;

	width: 40%;
	
	left: 30%;

	top:15%;

	background:url(opaqueDark.png);

	margin: 0px auto;

	z-index: 2000;

	border-radius: 8px;

	padding: 5px;

}

.popupBox > .boxheader {

	background: #6D84B4;

	border: #3B5998 1px solid; border-bottom:none;

	padding:6px;

	color:#FFF;

	font-weight:bold;

}

.popupBox > .boxbody {

	background: #FFF;

	border: #700 1px solid; border-top:none; border-bottom:none;

	padding:10px;

	color:#000;

	font-size:12px;

}

.popupBox > .boxfooter {

	background: #F2F2F2;

	border: #666 1px solid; border-top: #CCC 1px solid;

	padding:6px;

	color: #333;

	font-size:12px;

	text-align:right;

}