{% extends "RovaQCMBundle::layout.html.twig" %}

{% block rovaqcm_body %} 
    Hello {{ name }}!
    Que voulez-vous faire?<br/><br />

    <a href="{{ path('rovaqcm_view_self_qseries') }}" class="btn btn-primary">Gérer mes series</a>
    <a href="{{ path('rovaqcm_view_all_qserie_list') }}" class="btn btn-primary">Voir toutes les series des autres</a>
    <a href="{{ path('rovaqcm_view_user_list') }}" class="btn btn-primary">Voir les autres utilisateurs</a>
{% endblock %}

    
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $('#nav_menu_home').attr('class', 'active');
        });
    </script>    
{% endblock %}