{% extends "RovaQCMBundle::layout.html.twig" %}

{% block rovaqcm_body %} 
    <h4>Liste des utilisateurs</h4>
	<ul class="nav nav-pills nav-stacked">
        {% for user in users %}
        <li><a href="{{ path('rovaqcm_view_user', {'id': user.id}) }}">
            {% set fn = user.firstName|default('') %}
            {% set ln = user.lastName|default('') %}
            {% if fn != '' and ln != '' %}
            {{ user.firstName }} {{ user.lastName }}
            {% else %}
            {{ user.login }}
            {% endif %}
        </a></li>
        {% endfor %}
	</ul>    
{% endblock %}


    
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $('#nav_menu_view_user_list').attr('class', 'active');
        });
    </script>    
{% endblock %}