{% extends "RovaQCMBundle::layout.html.twig" %}

{% block rovaqcm_body %} 
    {% set fullName = user.firstName|default('') ~ ' ' ~ user.lastName|default('') %}
    {% if fullName == ' ' %}
        {% set fullName = user.login %}
    {% endif %}
    
    <table>
        <tbody>
            <tr>
                <td>Prénom : </td>
                <td>{{ user.firstName|default('') }}</td>
            </tr>
            <tr>
                <td>Nom : </td>
                <td>{{ user.lastName|default('') }}</td>
            </tr>
            <tr>
                <td>Pseudo : </td>
                <td>{{ user.login }}</td>
            </tr>
        </tbody>
    </table>
    <hr/>

    
    {% if series|length == 0 %}
        {{ fullName }} n'a pas encore de série de questions.
    {% else %}
        Les séries de {{ fullName }} sont :
    	<ul class="nav nav-pills nav-stacked">
            {% for serie in series %}
            <li><a href="{{ path('rovaqcm_view_qserie_desc_by_id', {'id': serie.id}) }}">{{ serie.serieName }}</a></li>
            {% endfor %}
    	</ul>  
    {% endif %}  
{% endblock %}
